@font-face {
  font-family: Shrikhand;
  src: url(../../../fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: Shrikhand;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: Roboto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

img {
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
}
