@font-face {
  font-family: Shrikhand;
  src: url(../../../fonts/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf);
}

* {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: Shrikhand;
}

p {
  font-family: Roboto;
}

img{
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
}
