// Partie pour le header 

.page-head{
    @media screen and (max-width:$smartphone) {
        .page-head_nav{
            @include flexbox-rowcenter;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .page-head_returnlink{
            font-size: $title-size;
            position: absolute;
            left: 4%;
        }
        .page-head_logo{
            width: 50%;
            height: auto;
        }
    }
}

// Fin de la partie pour le header 

// Partie pour l'image

.picture{
    @media screen and (max-width:$smartphone){
        width: 100%;
        height: auto;
    }
}

// Fin de la partie pour l'image

// Partie pour le menu

.menu{
    @media screen and (max-width:$smartphone) {
        width: 100%;
        position: relative;
        margin-top: -60px;
        border-radius: 50px 50px 0px 0px;
        background-color: $background-color-grey;
     .menu_maintitle{
@include flexbox-rowcenter;
     }

     .maintitle_title{
        font-size: $title-size;
    }
}
}
// Fin de la partie pour le menu