// Partie pour le header

.page-head {
  .page-head_nav {
    @include flexbox-rowcenter;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .page-head_returnlink {
    font-size: 1.8rem;
    position: absolute;
    left: 4%;
  }
  .page-head_logo {
    width: 50%;
    height: auto;
  }
}

// Fin de la partie pour le header

// Partie pour l'image

.picture {
  width: 100%;
  height: auto;
}

// Fin de la partie pour l'image

// Partie pour le menu

.menu {
  width: 100%;
  position: relative;
  margin-top: -60px;
  border-radius: 50px 50px 0px 0px;
  background-color: $background-color-grey;
  & > div {
    opacity: 0;
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation: showmenu $animdelay #{$i * 0.3}s ease-in forwards;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -413px;
  }
  .menu_maintitle {
    @include flexbox-rowcenter;
    gap: 120px;
    @media screen and (min-width: $tablet) {
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
      gap: 0;
    }
  }

  .maintitle_title {
    font-size: $title-size;
    font-weight: bold;
    @media screen and (min-width: $tablet) {
      width: 100%;
    }
  }
  .maintitle_icon {
    font-size: $title-size;
    i:last-child {
      display: none;
    }
    &:hover {
      color: transparent;
      i:first-child {
        display: none;
      }
      i:last-child {
        display: block;
        cursor: pointer;
        animation: displayheart 1s ease-in-out forwards;
      }
    }
    @media screen and (min-width: $tablet) {
      width: 100%;
    }
    @media screen and (min-width: $desktop) {
      width: 3%;
    }
  }
}
// Fin de la partie pour le menu

// Début de la section order

.order {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 80px;
  background-color: $background-color-grey;
  @media screen and (min-width: $desktop) {
    width: 100%;
  }
}

// Fin de la section order
