// Coloration du coeur
@keyframes displayheart {
  from {
    color: lightgray;
  }

  // 75%{
  //     color: green;
  // }
  to {
    color: $secondary-color;
  }
}

// Fin de coloration du coeur

// Rotation du loader
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Fin de la rotation du loader

// Animation des fondus

@keyframes fadein {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Fin de l'animation des fondus

// Animation du dégradé
@keyframes gradientshift {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

// Fin de l'animation du dégradé

// Animation apparition des menus

@keyframes showmenu {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

// Fin de l'animation pour l'apparition des menus

// Animation pour l'icône de validation
@keyframes checkiconshow {
  from {
    width: 0;
  }

  to {
    width: 60px;
  }
}

// @keyframes checkiconhide {
//   from {
//     width: 60px;
//   }

//   to {
//     width: 0;
//   }
// }

@keyframes checkiconrotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// Fin de l'animation pour l'icône de validation

@keyframes vanish {
  from {
    width: 100%;
  }
  to {
    width: 0%;
    z-index: -100;
  }
}
/*
translateY();
translate3d(x,y,z);
translate3d(0,-20px,0)
*/
