// Coloration du coeur
@keyframes displayheart {
  from {
    color: white;
  }
  // 50%{
  //     color: $primary-color;
  // }
  // 75%{
  //     color: green;
  // }
  to {
    color: $secondary-color;
  }
}

// Fin de coloration du coeur

// Rotation du loader
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Fin de la rotation du loader

// Animation des fondus

@keyframes fadein {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Fin de l'animation des fondus
/*
translateY();
translate3d(x,y,z);
translate3d(0,-20px,0)
*/
