// Variables pour les breakpoints
$smartphone: 480px;
$tablet: 576px;
$tabletBig: 800px;
$desktop: 992px;

// Fin des variables pour les breakpoints

// Variables pour les couleurs
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color-grey: #f6f6f6;
$background-color-darkgrey: #eaeaea;
$footer-background: #353535;
// Fin des variables pour les couleurs

// Variables pour la police

$title-size: 1.8rem;
$subtitle-size: 1.2rem;
$description-size: 0.5rem;

// Fin des variables pour la police
