// Variables pour les breakpoints (point de rupture en français.Juste au cas où)
$smartphone: 480px;
$tablet: 576px;
$tabletBig: 800px;
$desktop: 992px;

// Map
$breakpoint: (
  "xs": 400px,
  "sm": 544px,
  "md": 768px,
  "lg": 960px,
  "xl": 1280px,
  "xxl": 1440px,
);
// Fin de la map

// Fin des variables pour les breakpoints

// Variables pour les couleurs
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color-grey: #f6f6f6;
$background-color-darkgrey: #eaeaea;
$footer-background: #353535;
$button-color: #ff79da;
$lightpurple: #e4d5f6;
// Fin des variables pour les couleurs

// Variables pour la police

$title-size: 1.8rem;
$title2-size: 1.5rem;
$card-title: 1.3rem;
$card-subtitle: 1.1rem;
$card-title-tabletsize: 14px;
$card-title-desktopsize: 21px;
$card-subtitle-tabletsize: 10px;
$card-sutitle-desktopsize: 16px;
$buttontitle-size: 1rem;
$description-size: 0.5rem;
// penser à modifier le nom des variables. trop vague

// Fin des variables pour la police

// Variables pour les ombres

$boxshadow-standard: 8px 10px 20px 7px rgba(223, 223, 223, 0.86);

// Fin des variables pour les ombres

// Délai animation

$animationshow: 1000ms;
$animationshowdelay: 500ms;
$animdelay: $animationshow + $animationshowdelay;

// Fin délai animation
