// Variables pour les breakpoints (point de rupture en français.Juste au cas où)
$smartphone: 480px;
$tablet: 576px;
$tabletBig: 800px;
$desktop: 992px;

// Fin des variables pour les breakpoints

// Variables pour les couleurs
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color-grey: #f6f6f6;
$background-color-darkgrey: #eaeaea;
$footer-background: #353535;
// Fin des variables pour les couleurs

// Variables pour la police

$title-size: 1.8rem;
$title2-size: 1.5rem;
$card-title: 1.3rem;
$card-subtitle: 1.1rem;
$subtitle2-size: 1rem;
$description-size: 0.5rem;
// penser à modifier le nom des variables. trop vague

// Fin des variables pour la police
