@font-face {
  font-family: Shrikhand;
  src: url(../../../fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf);
}
* {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: Shrikhand;
}

p {
  font-family: Roboto;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .section1__searchbutton {
    width: 60%;
    height: auto;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #fdfdfd;
    border-radius: 139px;
    background: #ff79da;
    background: -moz-linear-gradient(-45deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
    background: -webkit-linear-gradient(-45deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
    background: linear-gradient(135deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
  }
}

@media screen and (max-width: 480px) {
  .index-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .index-head .logo_picture {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
  }
  .index-head .index-head__location {
    box-shadow: inset 5px 5px 15px 5px #f6f6f6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
    background-color: #eaeaea;
  }
  .index-head .index-head__locationtext {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .index-foot {
    background-color: #353535;
    padding-left: 20%;
    padding-top: 20%;
    text-decoration: none;
  }
  .index-foot .index-foot__logo {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .section1 .section1__maintitle {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
  }
  .section1 .section1__subtitle {
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
  }
}