@font-face {
  font-family: Shrikhand;
  src: url(../../../fonts/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf);
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: Shrikhand;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: Roboto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .section1__searchbutton {
    width: 60%;
    height: 58px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid #fdfdfd;
    border-radius: 139px;
    background: #ff79da;
    background: linear-gradient(135deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
  }
}

@media screen and (max-width: 480px) {
  .section2__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    color: black;
    width: 90%;
    height: 70px;
    margin-top: 30px;
    box-shadow: 5px 5px 8px 5px #dfdfdf;
    border-radius: 15px;
    background-color: #f6f6f6;
  }
  .section2__card .section2__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    left: 10px;
    margin: 0;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    background-color: #9356dc;
  }
  .section2__card .section2__icon {
    color: rgba(0, 0, 0, 0.506);
    position: absolute;
    left: 60px;
  }
  .section2__card .section2__text {
    font-size: 1.1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 480px) {
  .resto-prev__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    width: 88%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 17px;
  }
  .resto-prev__card .resto-prev__cardlink {
    text-decoration: none;
    color: black;
  }
  .resto-prev__card .card--new {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10%;
    width: 25%;
    color: #139273;
    font-weight: bold;
    border-radius: 3px;
    background-color: #99e2d0;
    padding: 5px 10px;
  }
  .resto-prev__card .card__picture {
    width: 100%;
    height: 216px;
    border-radius: 17px 17px 0px 0px;
    box-shadow: 5px 5px 8px 5px #dfdfdf;
  }
  .resto-prev__card .card__description {
    border: 5px solid rgba(0, 0, 0, 0.01);
    border-radius: 0px 0px 17px 17px;
    box-shadow: 5px 5px 8px 5px #dfdfdf;
    width: 100%;
    height: 100px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .resto-prev__card .description__title {
    width: 70%;
    font-weight: bold;
  }
  .resto-prev__card .description__subtitle {
    width: 60%;
    margin-top: -15px;
    font-weight: normal;
  }
  .resto-prev__card .description__hearticon {
    font-size: 30px;
    position: absolute;
    right: 15%;
  }
}

@media screen and (max-width: 480px) {
  .menu-card {
    background-color: #f6f6f6;
  }
  .menu-card .card_maintitle {
    font-size: 1.5rem;
    font-weight: normal;
    padding-left: 28px;
  }
  .menu-card .maintitle_border {
    width: 10%;
    border-bottom: 3px solid #99e2d0;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 28px;
  }
  .menu-card .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 70px;
    flex-wrap: wrap;
    border-radius: 20px 20px 20px 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    box-shadow: 5px 5px 8px 5px #dfdfdf;
    margin-bottom: 20px;
    padding: 15px;
  }
  .menu-card .card_title {
    font-weight: bold;
    width: 100%;
    margin: 0;
    font-size: 1.3rem;
  }
  .menu-card .card_subtitle {
    width: 92%;
    margin: 0;
    font-size: 1.1rem;
    margin-top: -15px;
  }
  .menu-card .card_price {
    font-weight: bold;
    margin-top: 2px;
  }
  .menu-card .card_checkicon {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .order_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    height: 58px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid #fdfdfd;
    border-radius: 139px;
    box-shadow: 6px 6px 24px 4px #dfdfdf;
    background: #ff79da;
    background: linear-gradient(135deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
  }
}

.index-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-head .index-head__location {
  box-shadow: inset 5px 5px 15px 5px #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  background-color: #eaeaea;
}
.index-head .index-head__locationtext {
  font-size: 1.1rem;
}
.index-head .logo_picture {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
}

.index-foot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  padding-left: 7%;
  padding-top: 8%;
  padding-bottom: 8%;
}
.index-foot .index-foot__logo {
  width: 25%;
  height: auto;
  margin-bottom: 20px;
  filter: invert(99%) sepia(36%) saturate(0%) hue-rotate(57deg) brightness(112%) contrast(100%);
}
@media screen and (min-width: 576px) {
  .index-foot .index-foot__logo {
    width: 50%;
  }
}
.index-foot .index-foot__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 25px;
}
.index-foot .link__icon {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1 {
  background-color: #f6f6f6;
}
.section1 .section1__maintitle {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}
.section1 .section1__maintitle .section1__subtitle {
  font-size: 1.1rem;
  text-align: center;
  font-weight: normal;
}

@media screen and (min-width: 480px) {
  .section2 .section2__maintitle {
    margin-left: 20px;
  }
}

@media screen and (min-width: 480px) {
  .section3 .resto-prev__maintitle {
    position: relative;
    right: 105px;
  }
}

@media screen and (max-width: 480px) {
  .page-head .page-head_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .page-head .page-head_returnlink {
    font-size: 1.8rem;
    position: absolute;
    left: 4%;
  }
  .page-head .page-head_logo {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .picture {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .menu {
    width: 100%;
    position: relative;
    margin-top: -60px;
    border-radius: 50px 50px 0px 0px;
    background-color: #f6f6f6;
  }
  .menu .menu_maintitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 120px;
  }
  .menu .maintitle_title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .menu .maintitle_icon {
    font-size: 1.8rem;
  }
}

.order {
  padding-top: 10px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
}/*# sourceMappingURL=style.css.map */