@keyframes displayheart {
  from {
    color: white;
  }
  to {
    color: #ff79da;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
translateY();
translate3d(x,y,z);
translate3d(0,-20px,0)
*/
@font-face {
  font-family: Shrikhand;
  src: url(../../../fonts/Shrikhand/Shrikhand-Regular.ttf) format(truetype);
  src: url(../../../fonts/Shrikhand/shrikhand-regular-webfont.woff) format(woff);
  src: url(../../../fonts/Shrikhand/shrikhand-regular-webfont.woff2) format(woff2);
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf) format(truetype);
  src: url(../../../fonts/Roboto/roboto-regular-webfont.woff);
  src: url(../../../fonts/Roboto/roboto-regular-webfont.woff2);
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: Shrikhand;
}

a {
  text-decoration: none;
  color: white;
}

p {
  font-family: Roboto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
}

.loader {
  border: 16px solid #f6f6f6;
  border-top: 16px solid #9356dc;
  border-bottom: 16px solid #ff79da;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
}

.section1__searchbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 58px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 40px;
  border: 1px solid #fdfdfd;
  border-radius: 139px;
  box-shadow: 8px 10px 20px 7px rgba(223, 223, 223, 0.86);
  background: #ff79da;
  background: linear-gradient(135deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
}
@media screen and (min-width: 576px) {
  .section1__searchbutton {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .section1__searchbutton {
    width: 20%;
  }
}

.section2__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  width: 90%;
  min-width: 310px;
  height: 70px;
  margin-top: 30px;
  box-shadow: 8px 10px 20px 7px rgba(223, 223, 223, 0.86);
  border-radius: 15px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 576px) {
  .section2__card {
    width: 80%;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  .section2__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    width: 28%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.section2__card .section2__number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  left: 15px;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  background-color: #9356dc;
}
@media screen and (min-width: 576px) {
  .section2__card .section2__number {
    position: absolute;
    left: -3%;
  }
}
@media screen and (min-width: 992px) {
  .section2__card .section2__number {
    position: absolute;
    left: -2%;
    margin: 0;
  }
}
.section2__card .section2__icon {
  color: rgba(0, 0, 0, 0.506);
  position: absolute;
  left: 60px;
}
@media screen and (min-width: 576px) {
  .section2__card .section2__icon {
    position: absolute;
    left: 15%;
  }
}
@media screen and (min-width: 992px) {
  .section2__card .section2__icon {
    position: absolute;
    left: 8%;
  }
}
.section2__card .section2__text {
  font-size: 1.1rem;
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .section2__card .section2__text {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .section2__card .section2__text {
    position: absolute;
    left: 15%;
  }
}

.resto-prev__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 17px;
  box-shadow: 8px 10px 20px 7px rgba(223, 223, 223, 0.86);
}
@media screen and (min-width: 576px) {
  .resto-prev__card {
    width: 48%;
    height: 320px;
    position: relative;
    margin-top: 50px;
  }
}
@media screen and (min-width: 992px) {
  .resto-prev__card {
    width: 40%;
  }
}
.resto-prev__card .resto-prev__cardlink {
  color: black;
}
.resto-prev__card .card--new {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10%;
  width: 25%;
  color: #139273;
  font-weight: bold;
  border-radius: 3px;
  background-color: #99e2d0;
  padding: 5px 10px;
}
@media screen and (min-width: 576px) {
  .resto-prev__card .card--new {
    position: absolute;
    left: 70%;
    top: 5%;
  }
}
.resto-prev__card .card__picture {
  width: 100%;
  height: 216px;
  border-radius: 17px 17px 0px 0px;
}
.resto-prev__card .card__description {
  border: 5px solid rgba(0, 0, 0, 0.01);
  border-radius: 0px 0px 17px 17px;
  width: 100%;
  height: 100px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.resto-prev__card .description__title {
  width: 70%;
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .resto-prev__card .description__title {
    width: 100%;
  }
}
.resto-prev__card .description__subtitle {
  width: 60%;
  margin-top: -15px;
  font-weight: normal;
}
@media screen and (min-width: 992px) {
  .resto-prev__card .description__subtitle {
    width: 100%;
  }
}
.resto-prev__card .description__hearticon {
  font-size: 30px;
  position: absolute;
  right: 15%;
}
.resto-prev__card .description__hearticon i:last-child {
  display: none;
}
.resto-prev__card .description__hearticon:hover {
  color: transparent;
}
.resto-prev__card .description__hearticon:hover i:first-child {
  display: none;
}
.resto-prev__card .description__hearticon:hover i:last-child {
  display: block;
  animation: displayheart 1s ease-in-out forwards;
}
@media screen and (min-width: 576px) {
  .resto-prev__card .description__hearticon {
    position: relative;
    bottom: 75%;
    left: 25%;
  }
}
@media screen and (min-width: 992px) {
  .resto-prev__card .description__hearticon {
    left: 82%;
    bottom: 99%;
  }
}

.menu-card {
  background-color: #f6f6f6;
}
@media screen and (min-width: 576px) {
  .menu-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
.menu-card .card_maintitle {
  font-size: 1.5rem;
  font-weight: normal;
  padding-left: 28px;
}
@media screen and (min-width: 576px) {
  .menu-card .card_maintitle {
    text-align: center;
    width: 100%;
  }
}
.menu-card .maintitle_border {
  width: 10%;
  border-bottom: 3px solid #99e2d0;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 28px;
}
@media screen and (min-width: 576px) {
  .menu-card .maintitle_border {
    width: 100%;
  }
}
.menu-card .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  justify-content: flex-start;
  position: relative;
  width: 90%;
  height: 70px;
  flex-wrap: wrap;
  border-radius: 20px 20px 20px 20px;
  color: black;
  background-color: white;
  text-decoration: none;
  box-shadow: 5px 5px 8px 5px #dfdfdf;
  margin-bottom: 20px;
  padding: 15px;
}
@media screen and (min-width: 576px) {
  .menu-card .card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
  }
}
.menu-card .splitleft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
  margin-right: 50px;
}
.menu-card .splitright {
  position: absolute;
  top: -86px;
  right: 0px;
}
.menu-card .card_title {
  font-weight: bold;
  width: 100%;
  margin: 0;
  font-size: 1.3rem;
}
@media screen and (min-width: 576px) {
  .menu-card .card_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
}
.menu-card .card_subtitle {
  width: 92%;
  margin: 0;
  font-size: 1.1rem;
  margin-top: -15px;
}
@media screen and (min-width: 576px) {
  .menu-card .card_subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.menu-card .card_price {
  font-weight: bold;
  margin-top: 2px;
}
.menu-card .card_checkicon {
  background-color: #99e2d0;
  width: 100%;
  font-size: 150px;
  border-radius: 0px 20px 20px 0px;
}

.order_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 60%;
  height: 58px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid #fdfdfd;
  border-radius: 139px;
  box-shadow: 8px 10px 20px 7px rgba(223, 223, 223, 0.86);
  background: #ff79da;
  background: -moz-linear-gradient(-45deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
  background: -webkit-linear-gradient(-45deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
  background: linear-gradient(135deg, #ff79da 0%, #ff79da 16%, #9356dc 100%);
}

.index-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-head .index-head__location {
  box-shadow: inset 5px 5px 15px 5px #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  background-color: #eaeaea;
}
.index-head .index-head__locationtext {
  font-size: 1.1rem;
}
@media screen and (min-width: 576px) {
  .index-head .index-head__locationtext {
    font-size: 1.8rem;
  }
}
.index-head .logo_picture {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 15px;
}
@media screen and (min-width: 576px) {
  .index-head .logo_picture {
    width: 100%;
  }
}

.index-foot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #353535;
  padding-left: 7%;
  padding-top: 8%;
  padding-bottom: 8%;
}
@media screen and (min-width: 576px) {
  .index-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .index-foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
  }
}
.index-foot .index-foot__logo {
  width: 25%;
  height: auto;
  margin-bottom: 20px;
  filter: invert(99%) sepia(36%) saturate(0%) hue-rotate(57deg) brightness(112%) contrast(100%);
}
@media screen and (min-width: 576px) {
  .index-foot .index-foot__logo {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .index-foot .index-foot__logo {
    width: 76%;
  }
}
.index-foot .index-foot__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 25px;
}
@media screen and (min-width: 576px) {
  .index-foot .index-foot__link {
    font-size: 1.5rem;
    height: 50px;
  }
}
@media screen and (min-width: 992px) {
  .index-foot .index-foot__link {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.8rem;
  }
}
.index-foot .link__icon {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .section1 {
  width: 100%;
  background-color: #f6f6f6;
}
main .section1 .section1__maintitle {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}
main .section1 .section1__subtitle {
  font-size: 1.1rem;
  text-align: center;
  font-weight: normal;
}
main .section2 {
  width: 100%;
}
@media screen and (min-width: 576px) {
  main .section2 {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  main .section2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    flex-wrap: wrap;
  }
}
main .section2 .section2__maintitle {
  margin-left: 20px;
}
@media screen and (min-width: 576px) {
  main .section2 .section2__maintitle {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  main .section2 .section2__maintitle {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
main .section3 {
  width: 90%;
}
@media screen and (min-width: 576px) {
  main .section3 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 85px;
  }
}
@media screen and (min-width: 992px) {
  main .section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 576px) {
  main .section3 .resto-prev__maintitle {
    width: 86%;
    margin-top: 105px;
    margin-bottom: -7px;
    text-align: center;
    margin-left: 55px;
  }
}
@media screen and (min-width: 992px) {
  main .section3 .resto-prev__maintitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 90px;
  }
}

.page-head .page-head_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-head .page-head_returnlink {
  font-size: 1.8rem;
  position: absolute;
  left: 4%;
}
.page-head .page-head_logo {
  width: 50%;
  height: auto;
}

.picture {
  width: 100%;
  height: auto;
}

.menu {
  width: 100%;
  position: relative;
  margin-top: -60px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
}
.menu .menu_maintitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 120px;
}
@media screen and (min-width: 576px) {
  .menu .menu_maintitle {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    gap: 0;
  }
}
.menu .maintitle_title {
  font-size: 1.8rem;
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .menu .maintitle_title {
    width: 100%;
  }
}
.menu .maintitle_icon {
  font-size: 1.8rem;
}
@media screen and (min-width: 576px) {
  .menu .maintitle_icon {
    width: 100%;
  }
}

.order {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
}