.resto-prev__card {
  @media screen and (max-width: $smartphone) {
    @include flexbox-columncenter;
    width: 80%;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.01);
    border-radius: 17px;
    .resto-prev__cardlink {
      text-decoration: none;
      color: black;
    }
    .card--new {
      position: relative;
      left: 230px;
      top: 60px;
      width: 20%;
      color: #139273;
      font-weight: bold;
      border-radius: 3px;
      background-color: #99e2d0;
      padding: 5px;
    }
    .card__picture {
      width: 319px;
      height: 216px;
      border-radius: 17px 17px 0px 0px;
    }
    .card__description {
      border: 5px solid rgba(0, 0, 0, 0.01);
      border-radius: 0px 0px 17px 17px;
      width: 100%;
      @include flexbox-rowstart;
      flex-wrap: wrap;
    }
    .description__title{
      width: 95%;
    }
    .description__subtitle{
      width: 90%;
      margin-top: -10px;
    }
    .description__hearticon{
      font-size: 35px;
    }
  }
}
