.menu-card {
  background-color: $background-color-grey;
  @media screen and (min-width: $tablet) {
    @include flexbox-spacebetween;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    @include flexbox-columncenter;
    width: 31%;
  }
  .card_maintitle {
    font-size: $title2-size;
    font-weight: normal;
    padding-left: 28px;
    @media screen and (min-width: $tablet) {
      text-align: center;
      width: 100%;
    }
    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }
  .maintitle_border {
    width: 10%;
    border-bottom: 3px solid $tertiary-color;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 28px;
    @media screen and (min-width: $tablet) {
      width: 100%;
    }
    @media screen and (min-width: $desktop) {
      width: 30%;
    }
  }
  .card {
    @include flexbox-rowcenter;
    justify-content: space-between;
    position: relative;
    width: 90%;
    // height: 65px;
    border-radius: 20px 20px 20px 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    box-shadow: 5px 5px 8px 5px #dfdfdf;
    margin-bottom: 20px;
    @media screen and (min-width: $tablet) {
      width: 30%;
      @include flexbox-columncenter;
      flex-wrap: wrap;
      height: 85px;
    }
    @media screen and (min-width: $desktop) {
      width: 100%;
    }
    &:hover {
      .card_checkicon {
        animation: checkiconshow 0.4s ease-in-out forwards;
        & > i {
          animation: checkiconrotate 0.4s ease-in-out forwards;
        }
      }
    }
    .splitleft {
      @include flexbox-columnstart;
      gap: 13px;
      @include text-shorten;
      padding: 19px;
      p {
        @include text-shorten;
      }
    }
    .splitright {
      top: 0px;
      right: 0px;
      display: flex;
      overflow: hidden;
      height: 85px;
    }
    .card_title {
      font-weight: bold;
      width: 100%;
      margin: 0;
      font-size: $card-title;
      @media screen and (min-width: $tablet) {
        @include flexbox-columncenter;
        font-size: 17px;
        margin-bottom: 15px;
      }
    }
    .card_subtitle {
      width: 100%;
      margin: 0;
      font-size: 15px;
      margin-top: -15px;
      @media screen and (min-width: $tablet) {
        @include flexbox-columncenter;
        font-size: 13px;
      }
    }
    .card_price {
      font-weight: bold;
      margin: 0 20px 10px 0;
      align-self: flex-end;
    }
    .card_checkicon {
      background-color: $tertiary-color;
      width: 100%;
      font-size: 135px;
      border-radius: 0px 20px 20px 0px;
      margin: 0;
      display: block;
      width: 0;
      color: white;
      text-align: center;
      font-size: 30px;
      line-height: 84px;
      //animation: checkiconhide 0.4s ease-in-out forwards;
      // &:hover {
      //   animation: checkiconshow 0.4s ease-in-out forwards;
      //   & > i {
      //     animation: checkiconrotate 0.4s ease-in-out forwards;
      //   }
      // }
    }
  }
}
