.index-head {
  @media screen and (max-width: $smartphone) {
    @include flexbox-columncenter;
    .logo_picture {
      height: auto;
      width: 50%;
      @include flexbox-rowcenter;
      padding: 15px;
    }
    .index-head__location {
      box-shadow: inset 5px 5px 15px 5px $background-color-grey;
      width: 100%;
      @include flexbox-rowcenter;
      gap: 10px;
      background-color: $background-color-darkgrey;
    }
    .index-head__locationtext {
      font-size: $card-subtitle;
    }
  }
}

// exemple de configuration
// header{
//     nav{
//         ul{
//             list-style: none;
//             @media screen and (min-width:$tablet){
//                 list-style: circle;
//             }
//             @media screen and (min-width:$tabletBig){
//                 list-style:disc;
//             }
//         }
//     }
// }
